body{background-color:rgb(230, 230, 250);
}
h1 {font-color:rgb(255, 0, 0);
     font-size: 250%;
     font-family:"Times New Roman", Georgia, Serif;
     }
p {font-color:#000000;
      font-size:200%;
      font-family:"Arial Black", Gadget, sans-serif;
      }