<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Course Counts</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js"></script>
</head>
<body>
    <img src="/images/oxy-seal.png" style="width:150px; height:150px;">
    My Course Counts (Suggestion, use command+f) (suggestion #2, don't actually click the links)
     {% for course in courses %}
    <p><a href="/directory/{{ course.department }}">{{ course.year }} {{ course.season }} {{ course.department }} {{ course.number }} {{ course.section }} {{ course.title }} {{ course.users }} {{ course.instructors }} {{ course.meetings }} {{ course.core }} {{ course.seats }} {{ course.enrolled }} {{ course.reserved }} {{ course.reserved_open }} {{ course.waitlisted }}</a></p>
    {% endfor %}
</body>
</html>
