<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Course Counts</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/courses.css">
    <script src="/js/main.js"></script>
</head>
<body>
    <img src="/images/oxy-seal.png" style="width:150px; height:150px;">
    <h1><b>Answer:</b> </h1>
    <div class="outline">
        <p><b>You should take: <span style="color: #ff99cc">{{ courses[5] }}</span> with Professor <span style="color: #9999ff">{{ courses[7] }}</span> at {{ courses[8] }}</b></p>
        <p style=" color: rgb(220, 20, 60)">Have fun!</p>
    </div>
    <img src="/images/IMG_1616.JPG" style="width:400px; height:270px;">
</body>
</html>
